.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1rem;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
}

.search-form input[type='search'] {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  flex-grow: 1;
}

.search-form button {
  padding: 0.5rem 1rem;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-form button:hover {
  background-color: #0668d1;
}
