#root {
  width: 100%;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-container {
  min-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-gallery {
  text-align: left;
  display: grid;
  columns: 1;
  gap: 20px;
}
