body {
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
  min-width: 550px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
}
